
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chart{
    width: 400px;
}

#inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.inputGroup {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin: 0;
}

.removeButton {
    margin: 0;
}