
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE5B4;
}

#chart{
    width: 400px;
    z-index: -1;
}

#ticker{
    transform: rotate(90deg);
}

#inputSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.inputGroup {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin: 0;
}

.removeButton {
    margin: 0;
}

#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

input{
    border-radius: 1em;
    padding: 0.2em;
}

button{
    background-color: #92B9E7;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#spinButton{
    padding: 1em;
}
#spinButton:hover{ transform: scale(1.3) }

#overlay{
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal{
    padding: 3em;
    border-radius: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 1;
    background-color: blanchedalmond;
}
.winningNotice{
    color: rgb(53, 53, 121);
}
.reloadButtons{
    background-color: orange;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 5px 5px;
}
.reloadButtons:hover{
    background-color: lightblue;
    cursor: pointer;
}

@media screen and (min-width: 2000px) {
    body{
        font-size: 23px;
    }
    #chart{
        width: 1000px;
        position: absolute;
        left: 300px;
        top: 250px;
    }
    #ticker{
        width: 80px;
        position: absolute;
        left: 1160px;
        top: 615px;
    }
    #section2{
        position: absolute;
        right: 550px;
        top: 400px;
    }
    input{ font-size: 23px; }
    button{ font-size: 23px; }
}